<!DOCTYPE html>
<html lang="pl">
{% if user.is_authenticated %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Moja Strona{% endblock %}</title>


</head>
<body>
    <header>
        <h1 style="text-shadow: 
        -1px -1px 0 white,  
        1px -1px 0 white,
        -1px 1px 0 white,  
        1px 1px 0 white;" >DjangoShop</h1>
    </header>
    <nav>
        <a href ="/">Strona główna</a> |
        <a href="{% url 'products:product_list_client' %}">Lista produktów</a> |
        
        <a href="{% url 'koszyk:cart_view' %}">Koszyk</a> |

        <form id="logout-form" method="post" action="{% url 'logout' %}" style="display: inline;">
            {% csrf_token %}
            <a href="#" onclick="document.getElementById('logout-form').submit(); return false;">Wyloguj się</a> |
        </form>

        {% if user.is_authenticated and user.role == "seller" %}
        <a href="{% url 'products:product_list' %}">Lista produktów dla sprzedawcy</a> |
        {% endif %}
    </nav>


    <main>
        {% block content %}{% endblock %}
    </main>
</body>
{% else %}
    <p>Nie jesteś zalogowany. <a href="{% url 'login' %}">Zaloguj się</a></p>
{% endif %}
</html>