<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <title>Strona główna</title>
</head>
<body>
    <h1 style="text-shadow: 
    -1px -1px 0 white,  
    1px -1px 0 white,
    -1px 1px 0 white,  
    1px 1px 0 white;" >DjangoShop</h1>
        {% if user.is_authenticated %}
        <nav>
        <a href ="/">Strona główna</a> |
        <a href="{% url 'products:product_list_client' %}">Lista produktów</a> |

        <a href="{% url 'koszyk:cart_view' %}">Koszyk</a> |

        <form id="logout-form" method="post" action="{% url 'logout' %}" style="display: inline;">
            {% csrf_token %}
            <a href="#" onclick="document.getElementById('logout-form').submit(); return false;">Wyloguj się</a>  |
        </form>

        {% if user.is_authenticated and user.role == "seller" %}
        <a href="{% url 'products:product_list' %}">Lista produktów dla sprzedawcy</a>
        {% endif %}
        </nav>

        <p>Witaj, {{ user.username }}! Zacznij zakupy już teraz. Zapoznaj się z 
            bogatą ofertą produktów w Liście Produktów.</p>

    {% else %}
    <p>Jeśli chcesz robić zakupy albo coś sprzedać zaloguj się
        lub zarejestruj, jeśli nie masz jeszcze konta.</p>
        <button onclick="window.location.href='{% url 'login' %}';">
            Zaloguj się
        </button>
        <button onclick="window.location.href='{% url 'register' %}';">
            Zarejestruj się
        </button>
    {% endif %}
</body>
</html>