<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona główna</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>
    <h1>Strona główna</h1>
        {% if user.is_authenticated %}
        <p>Witaj, {{ user.username }}! Zacznij zakupy już teraz. Zapoznaj się z 
            bogatą ofertą produktów poniżej.</p>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Wyloguj się</button>
            </form>
    {% else %}
    <p>Jeśli chcesz robić zakupy albo coś sprzedać zaloguj się
        lub zarejestruj, jeśli nie masz jeszcze konta.</p>
        <button onclick="window.location.href='{% url 'login' %}';">
            Zaloguj się
        </button>
        <button onclick="window.location.href='{% url 'register' %}';">
            Zarejestruj się
        </button>
    {% endif %}
</body>
</html>