{% extends 'base.html' %}
{% block content %}
  <h1>Twój Koszyk</h1>

  {% if cart %}
    <ul>
      {% for item in cart.items.all %}
        <li>
          {{ item.product.name }} - {{ item.quantity }} x {{ item.product.price }} PLN
          <strong>Razem: {{ item.total_price }} PLN</strong>
        </li>
      {% endfor %}
    </ul>
    <h3>Całkowita wartość: {{ cart.total_price }} PLN</h3>
    <form method="post" action="{% url 'koszyk:checkout' %}">
      {% csrf_token %}
      <button type="submit">Zakończ zakupy</button>
    </form>
  {% else %}
    <p>Twój koszyk jest pusty.</p>
  {% endif %}
{% endblock %}