{% extends 'base.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{%static 'css/style.css'%}">
  <h1>Witamy w sklepie z produktami!</h1>

  <h2>Lista produktów</h2>

  <ul>
    {% for product in products %}
      <li>
        <a href="{% url 'products:product_detail' pk=product.pk %}"><h3>{{ product.name }}</h3></a>
        <p>
        <img
            class="image"
            src="{{ product.image.url }}"
            alt="{{ product.name }}"
        />
        </p>
        <p>Cena: {{ product.price }} PLN</p>
        <p>Ilość w magazynie: {{ product.stock }}</p>
      </li>
    {% empty %}
      <p>Brak produktów w sklepie.</p>
    {% endfor %}
  </ul>
{% endblock %}