{% extends 'base.html' %}
{% load static %}

{% block content %}

  <h2>Lista produktów</h2>

  <ul>
    {% for product in products %}
      <li>
        <p>
        <img
            class="image"
            src="{{ product.image.url }}"
            alt="{{ product.name }}"
        />
        </p>
        <a href="{% url 'products:product_detail' pk=product.pk %}" class="name"><h2>{{ product.name }}</h2></a>
        <div class="info">
        <p>Cena: {{ product.price }} PLN</p>
        <p>Liczba w magazynie: {{ product.stock }}</p>
        </div>
      </li>
    {% empty %}
      <p>Brak produktów w sklepie.</p>
    {% endfor %}
  </ul>
{% endblock %}